@font-face {
    font-family: 'Cunia';
    src: url('../../assets/font/Cunia.otf') format('truetype');
  }

@font-face {
  font-family: 'Dingding JinBuTi';
  src: url('../../assets/font/DingTalk JinBuTi.ttf') format('truetype');
}

@font-face {
  font-family: 'DancingScript-Bold';
  src: url('../../assets/font/DancingScript-Bold.ttf') format('truetype');
}
  
  